body{
    margin:0
}
/*SECTION NAVBAR*/
.logo1{
    width: 268px;
    height: 33px;
    margin-top: 20px;
    margin-right: 40px
}
.logo1:hover{
    cursor: pointer;
}
.ul-menu{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'PT+Sans' , sans-serif;
    margin-left: 40px
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    background: white;
    box-shadow: 0px 0px 10px #88888863;
    z-index:99;
}
li{
    list-style-type:none;
    padding: 0 10px;
    margin-top: 10px
}
.li-items1{
font-family: 'PT+Sans', Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 30px;
color: rgb(0, 179, 155);
cursor: pointer;
}
.li-items2{
font-family: 'PT+Sans', Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 30px;
color: rgba(116,116,116);   
}
.li-items2:hover{
color: rgb(0, 179, 155);
cursor: pointer; 
}
.li-items3{
font-family: 'PT+Sans', Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 30px;
color: rgba(116,116,116);
position: relative;
display: block;
}
.li-items3:hover{
color: rgb(0, 179, 155);
cursor: pointer; 
display: block;


}
.dropdowns{
display: none;
position: absolute;
background-color: white;
width:200%;
box-shadow: 5px 10px 8px #888888af;
z-index: 1;
}
.li-items3:hover .dropdowns{
display: flex;
flex-direction: column;
}
.dropdowns a{
color: rgba(116,116,116);

text-decoration: none;
display: block;

font-family: 'PT+Sans', Arial, Helvetica, sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 30px;
} 
.dropdowns a:hover{ 
color: rgb(0, 179, 155); 
background-color: rgba(239, 248, 241, 0.897)
}
/*SECTION TITLE HOME*/
.title-home{
padding-top: 60px;
width:100%;
position: relative;
display: flex;
align-content: center
}
.main-title{
width: 100%;
height: 120px;
}
.logo{
width: 40px;
height: 40px;
display: block;
margin: 0 auto;
    
   
}
.h1-title{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 34px ;  
font-weight: 300;
line-height: 44.2px;
color: rgb(0, 179, 155);
display: block;
width: 100%;
text-align: center;
   
}
/*SECTION INTRODUCTION*/
.introduction{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-around;
   
}
.paragraph1{
width: 66%;
padding: 50px;
font-weight: 400;
font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
color: #747474;
font-size: 16px;
line-height: 28px;
height: 100;
margin-left: 190px;
}
.paragraph2{
width: 66%;
padding: 50px;
font-weight: 400;
font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
color: #747474; 
font-size: 16px;
line-height: 28px; 
height: 100;  
margin-right: 190px;
}
/*SECTION BOXES*/
.boxes{
display: flex;
justify-content: space-between;
 margin: 45px 188px 45px;
}
    .box1{
    padding-top: 10px;
    background-color: #00CCB1;
    border-radius: 10px;
    padding: 1.375em 2.5em 0;
    overflow: hidden;
    margin-right: 10px;
    width: 475px;
    }
    .box2{
    padding-top: 10px;
    background-color: #3D83DF;
    border-radius: 10px;
    padding: 1.375em 3em 0;
    overflow: hidden;
    margin-left: 10px;
    width: 475px;  
    }
    .comp-img{
     margin: 6px 170px;
    }
    .image-computer{
    width: 380px;
     height: 220px;
    }
   
    .title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.7);
    padding:10px;
    }
    .description{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-weight: 300;
    font-size: 26px;
    line-height: 33.8px;
    margin: 5px;
    }
    /*section culture*/
    .culture{
        margin: 30px 188px;
    }
    .local-culture{
        display: flex;
    }
    .local-culture>h1{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 26px;
        font-weight: 300;
        line-height: 33.8px;
        color: rgb(0, 179, 155);
        margin: 10px 0;
    }
    .local-culture-list{
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
    }
    .local-culture-items{
        padding: 0 20px;
        font-family: "Times New Roman";
        font-size: 18px;
        font-weight: 400;
        color: rgb(195, 195, 195); 
        cursor: pointer;  
    }
    .local-culture-items:hover{
        color: #00c3a5;
    }
    /*SECTION HEALTH CARE*/
    .health-care{
    margin: 60px 0 90px;
    background-color: #D5F5F5;
    background-image: url(https://res-5.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/jcmy9zzlqh682l0my9p3);
    background-repeat: no-repeat; 
    background-size: 450px;
    background-position-y: 310px;
    background-position-x: 45px; 
    }
    .plateform{
    display: flex;
    padding: 0px 188px;
    }
    .plateform-description>h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 34px;
    font-weight: 300;
    line-height: 44.2px;
    color: rgb(0, 179, 155);
    margin-top: 80px;
    }
    .plateform-description>p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(116, 116, 116);
    margin-right: 70px;      
    }
    .plateform{
    display: flex;
    }
    .plateform-items{
    display: flex;
    flex-direction: column;
    margin: 30px 10px 30px; 
    }
    .plateform-items2{
    display: flex;
    flex-direction: column;
    margin: 0 10px 60px;
    }
    .plateform-item{
    background-color: #ffffff;
    border-radius: 5px;
    width: 200px;
    height: 230px;
    padding: 15px;
    margin-top: 20px;
    text-align: center; 
    }
    .plateform-item h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 31.2px;
    color: rgb(0, 179, 155);
    }
    .plateform-item p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16.9px;
    color: rgb(116, 116, 116);
    }
    /*SECTION Improve*/
    .improve{
        margin: 30px 188px 40px;
    }
    .team-mate{
        margin: 0 240px 80px;
        text-align: center;
    }
    .team-mate>h1{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 30px;
        font-weight: 300;
        line-height: 39px;
        color: rgb(0, 179, 155);
    }
    .team-mate>p{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: rgb(116, 116, 116);
    }
    .offices-list{
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
    }
    .offices-items{
        border: 1px solid #efefef;
        border-radius: 8px;
        cursor: pointer;
        overflow: hidden
    }
    .offices-items:hover{
        box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    }
    .office-place{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: rgb(116, 116, 116);
        margin: 30px 0;
    }
    .office-place-item{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 70px;
    }
    .see-openings-button{
        background-color: #3d83df;
        text-transform: uppercase;
        color: #ffffff;
        border-radius: 3px;
        padding: 10px 15px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 10px;
        font-weight: 700;
        line-height: 10px;
    }
    .see-openings-button:hover{
        background-color: #1662C6;
    }
    /*FOOTER*/
    .footer{
        margin-top: 90px;
        padding-top: 30px;
        padding-bottom: 10px;
        border-top: 1px solid #eef2f2;
    }
    .footer p{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 15.6px;
        color: rgb(171, 171, 171);
        text-align: center;
    }
    .cookies-description{
        margin-bottom: 0px;
    }
    .copyright-docplanner{
        margin-top: 5px;
        margin-bottom: 0
    }